<%= form_for @user,url: signin_path, method: :post do |f| %>


  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.submit 'Sign In' %>
  </div>
<% end %>