
<div class="container">

  name: <%= @user.name %><br>
  nausea: <%= @user.nausea %><br>
  Mood: <%= @user.mood %><br>
  happiness: <%= @user.happiness %><br>
  tickets: <%= @user.tickets %><br>
  height: <%= @user.height %>

</div>
