<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :height, "Height (in inches)" %><br>
  <%= f.number_field :height %></div>

  <div class="field"><%= f.label :happiness, "How happy are you? (1-5 scale)" %><br>
  <%= f.number_field :happiness %></div>

  <div class="field"><%= f.label :nausea, "How nauseous are you? (1-5 scale)" %><br>
  <%= f.number_field :nausea %></div>

  <div class="field"><%= f.label :tickets, "How many dollars are in your pocket?" %><br>
  <%= f.number_field :tickets %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
