<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Mood</strong></td>
      <td><strong>Total Rides Taken</strong></td>
      <td><strong>Tickets Left</strong></td>
    </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.mood %></td>
        <td><%= customer.num_of_rides %></td>
        <td><%= customer.tickets %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
