<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">
  <div class="pic">
    <img src="http://<%= @user.name.gsub(" ", "") %>.jpg.to/" height="250">
  </div>

  <div class="info">
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Tickets:</strong> <%= @user.tickets %></p>
    <p><strong>Mood:</strong>  <%= @user.mood %></p>
    <p><strong>Height:</strong> <%= @user.height %> inches</p>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <a href="/users/<%= @user.id %>/attractions">Go on a ride!</a>
  </div>
</div>