<h1>Listing attractions</h1>
<p><%= link_to "Back to profile", customer_path(@customer), {:class => "btn btn-primary"} %></p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Picture</strong></td>
      <td><strong>Name</strong></td>
      <td><strong>Tickets</strong></td>
      <td><strong>Details</strong></td>
    </tr>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><img src="http://<%= attraction.name.gsub(" ", "") %>.jpg.to/" width="100"></td>
        <td><%= attraction.name %></td>
        <td><%= attraction.tickets %></td>
        <td><%= link_to 'Show', customer_attraction_path(@customer, attraction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
